@import url("header.css");
@import url("footer.css");
@import url("content.css");
@import url("banner.css");
@import url("custom.css");
@import url("homepage.css");
img{
    width: 100%;
}

p{
    font-size: 120%;
    text-align: justify;
}
html, body {
    height: 100%;
}

ul
{
    list-style-type: none;
}